* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    margin-left: 135px;

}

.contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
}


.med-color {
    color: red;
}

.available
{
    background-color: white;
    text-align: center;

}


.contacts::before {
    content: '';
    background: url('https://images.pexels.com/photos/208512/pexels-photo-208512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') 
        no-repeat center center/cover;
    position: absolute;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.notavailable {
    background-color: red;
    text-align: center;
}

.container{
    align-items: center;
    background-image: url("https://www.clipartkey.com/mpngs/m/243-2434520_hospital-animated-patient-gif.png");
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.med-color {
    color: rgb(0, 153, 255);
}
.name{
    
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: red;
      
      
}
.heads{
    text-align: center;
}
.submitbutton{
    
        background-color:pink;
        color: #fff;
        padding: 12px 24px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
}

.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}
.mb-3{
    color: black;
}
.tish:focus {
    border: 3px solid #555;
    width: 100%;
    transition: width 0.4s ease-in-out;

   

  }
  /* input[type=date]:focus {
    border: 3px solid #555;
    width: 100%;
    transition: width 0.4s ease-in-out;
  } */
  input[type=number]:focus {
    border: 3px solid #555;
    width: 100%;
    transition: width 0.4s ease-in-out;
  }
  
  
.lovw{
    background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-chinese-medical-day-simple-blue-doctors-picture-image_925616.jpg");
}
.tish{
    width:50%;
}
.fish{
    width:50%;
}
.pish{
    width:50%;
}
.lish{
    width:50%;
}
.hi{
    display: flex;
}
.text-start text-black p-4{
    background-image:url("https://cdn-icons-png.flaticon.com/512/5278/5278681.png");
    display: flex;
}

.note {
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
  }
  
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    background: #ccc;
    border-radius: 5px;
  }
  
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .display-note {
    background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-chinese-medical-day-simple-blue-doctors-picture-image_925616.jpg");
  }

  input[type="checkbox"] {
    margin-right: 0.75rem;
}

.Input{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 500px;
    margin-right:500px;
}
textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    background-color:#e2c5e0;
    border-radius:30px ;
    align-content: center;
    opacity: 1;
  }

  .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    color: red;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  pre{
    font-family: garamond, serif;
    position: relative;
    top: 150px;
    font-size: 40px;
    right: 100px;
    color: white;
    

}

.abc
{
    width: 50%;
    height: 60px;
    background-color: white;
    position: relative;
    color: green;
    border-radius: 17px;
    border: 3px solid green;
    font-size: 25px;
    top: 100px;
    margin-top: 50px;
    display: block;
    right: 60px;

    transition:0.4s;



}
.abc:hover
{
    color:white;
    background-color: green;
    /* opacity: 0.5; */
    border: 1px none black;
    transform: scale(1.2);
    margin-top: 50px;
}
.xyz
{
    width: 50%;
    height: 60px;
    background-color:white;
    position: relative;
    color: red;
    border-radius: 17px;
    border: 3px solid red;
    font-size: 25px;
    top: 100px;
    margin-top: 30px;
    display:block;
    right: 60px;
    text-align: left;
    padding-left: 40px;
    transition: 0.4s;
    overflow: hidden;
    cursor: pointer;
}
.xyz:hover
{
    color: white;
    background-color: red;
    /* opacity: 0.5; */
    border: 1px none white;
    transform: scale(1.1);
    overflow: visible;
}
.xyz .popup {  
    position:absolute;
      top: 70px;
      width: 100%;
      text-align: left;
      background: black;
      padding: 10px;
      opacity: 0;
      transition: opacity .25s ease-in-out;
    color:#fff;
    z-index: 1; 
    margin-left: -85;
} 
.xyz:hover .popup
{
    opacity:1;
}


.a
{
    width:55%;
    height: 100%;
    /* background-color: #3d3838;  */
    /* background-color:#7fffd4; */
    float: left;
    
    
}

.a::before{
  content: '';
  background: url('https://semidotinfotech.com/web/images/medicine-delivery-banner.jpg') 
      no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://img.freepik.com/free-vector/videocalling-with-therapist-illustrated_23-2148515728.jpg");
  background-size:initial;
  background-position: right;
  background-repeat: no-repeat;
  opacity:1;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}
/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}